# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Environments
venv/
.venv/
env/
ENV/

# Build artifacts
build/
dist/
*.spec

# Test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# IDE
.vscode/
.idea/

# Logs
*.log

# Local project files
config.json
build.bat
*.vdp
